include ./mixins/mixin

footer.footer
  .footer__wrapper.container

    ul.footer__social.social
      li.social__item
        a.social__item-link(href="#")
          +icon({name:"icon-vk", width:"35", height:"35"})
      li.social__item
        a.social__item-link(href="#")
          +icon({name:"icon-fb", width:"35", height:"35"})
      li.social__item
        a.social__item-link(href="#")
          +icon({name:"icon-ok", width:"35", height:"35"})
      li.social__item
        a.social__item-link(href="#")
          +icon({name:"icon-vk", width:"35", height:"35"})

    .footer__contacts
      p Связаться с нами по вопросам сотрудничества:
      a.footer__link(href="mailto:faktistorii@yandex.ru")  faktistorii@yandex.ru
