footer.footer
  .footer__wrapper.container
    //a.footer__logo
    //  img.logo__text(src="../img/logo-text-with-star.svg" width="95" height="40" alt="Факт истории")

    ul.footer__social.social
      li.social__item
        a.social__item-link(href="#")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
            use(xlink:href="img/sprite.svg#icon-vk")
      li.social__item
        a.social__item-link(href="#")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
            use(xlink:href="img/sprite.svg#icon-fb")
      li.social__item
        a.social__item-link(href="#")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
            use(xlink:href="img/sprite.svg#icon-ok")
      li.social__item
        a.social__item-link(href="#")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
            use(xlink:href="img/sprite.svg#icon-vk")

    .footer__contacts
      p Связаться с нами по вопросам сотрудничества:
      a.footer__link(href="mailto:faktistorii@yandex.ru")  faktistorii@yandex.ru
