mixin icon(options)
  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width=options.width height=options.height)
      use(xlink:href=`img/sprite.svg#${options.name}`)
