extends common/layout

block content
  main.main
    section.pages
      .pages__wrapper.container
        a(href="main.html") Главная
        a(href="documents.html") Документы
        a(href="#") Карта
        a(href="#") Видео
        a(href="#") Публикации
        a(href="#") Сравнительная хронология

