extends common/layout

block content
  main.main
    section.quotes
      .quotes__wrapper.container
        blockquote.quotes__blockquote
          p "Поколение, пересечённое войной. Посечённое. Отсечённое. И из-за всего этого - наделённое в своём остатке чем-то большим по сравнению с другими."
          cite Ржевская Е.М. Далекий гул (сборник)
        ul.quotes__social.social
          li.social__item
            a.social__item-link(href="#")
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
                use(xlink:href="img/sprite.svg#icon-vk")
          li.social__item
            a.social__item-link(href="#")
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
                use(xlink:href="img/sprite.svg#icon-fb")
          li.social__item
            a.social__item-link(href="#")
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
                use(xlink:href="img/sprite.svg#icon-ok")
          li.social__item
            a.social__item-link(href="#")
              svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35")
                use(xlink:href="img/sprite.svg#icon-vk")

    section.about
      .about__wrapper.container
        .about__project
          h2 О проекте
          p Факт Истории - некоммерческий проект, который, опираясь на факты и документы, воссоздаёт достоверную историю Великой Отечественной Войны.
          p Проект открыт каждыму неравнодушному человеку и направлен на привлечение людей со всего мира. Присоединяясь, Вы становитесь частью глобальной информационной базы.
          button.about__button.button(type="button") Подробнее

        .about__join
          h2 Как принять участие?
          p История - это коллективная память народа. И эту память можно переписать. Что это значит? Это значит изъять какую-то часть прошлого с той жизнью, идеями, реализованными планами и сделать ее несуществующей. Отрезать этот ломоть и выкинуть! Аналогию можно провести с потерей памяти человеком. Утрачивая память, человек перестает быть личностью. Ему можно навязать любые идеи, комплексы и чувства (например, чувство постоянной вины). Жизнь теряет смысл. Как думаете?
          p Материал, представленный на данном сайте, охватывает период с 1930 по 1950-е годы. Вы можете присоединиться к проекту, отправив документ, характеризующий это время. Он будет проверен и опубликован.
          //p Пользователи могут брать материал для цитирования с указанием источника, а также бесплатно скачивать заинтересовавший документ.
          .about__buttons
            button.about__button.button(type="button") Загрузить документ
            button.about__button.about__button--help.button(type="button") Помочь проекту

    section.info
      .info__wrapper.container
        .info__why
          h3 Почему переписывают историю Великой Отечественной Войны?
          p СССР вышел из Великой Отечественной войны без преувеличения сверхдержавой. Эта война является одной из опорных плит мировоззрения когда-то советского, а сейчас русского человека.
          p «Западные партнеры» хотят изменить стержневую плиту нашего мировоззрения. Стремятся отобрать идеи, проекты, достижения и победы.
          p Происходит пересмотр подвига и того, в чем он состоял. Замалчиваются многие события и факты. Исчезают характеристики конкретных людей. В лучшем случае, остаются просто имена.
        .info__tasks
          h3 Чем мы руководствуемся в реализации проекта?
          p – Разбираться с историей на основании непрерывной сверки документов, фактических данных, мемуаров и исследований. Это позволит не попадаться ни в ловушки клеветы, ни в ловушки послезнания.
          p – Не вырывать из исторического контекста события. Легко запутаться в отдельных фактах. Большое видится на расстоянии в деталях и тенденциях.
          p – Видеть глубину происходящих процессов во всей полноте деталей (экономика, политика, техника и т.д.) и событий. Если Вы понимаете тенденцию, то ни кто не сможет Вас запутать!
          p – Подходить к анализу проблем и вопросов с учетом конкретно-исторических особенностей эпохи, а не с оценочных позиций сегодняшнего дня. События могут быть адекватно оценены только с позиции того времени, когда они произошли.


    //section.team
    //  .team__wrapper.container
    //    h2 Команда проекта
    //    ul.team__list
    //      li.team__list-item
    //        a.team__link.link.link--black(href="#")
    //          h3 Редактирование
    //          img(src="img/team-editing.png")
    //      li.team__list-item
    //        a.team__link.link.link--black(href="#")
    //          h3 PR-специалисты
    //          img(src="img/team-pr.png")
    //      li.team__list-item
    //        a.team__link.link.link--black(href="#")
    //          h3 IT-поддержка
    //          img(src="img/team-it.png")
    //      li.team__list-item
    //        a.team__link.link.link--black(href="#")
    //          h3 Диктор
    //          img(src="img/team-speaker.png")
